<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>学生管理系统</title>
	<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="/js/plugins/ui-grid/ui-grid.css" />
	<link rel="stylesheet" type="text/css" href="/css/reset.css">
	<link rel="stylesheet" type="text/css" href="/css/index.css">
	<script type="text/javascript" src="/js/plugins/jquery/jquery-3.2.1.min.js"></script>
	<script type="text/javascript" src="/js/plugins/bootstrap/bootstrap.min.js"></script>
	<script type="text/javascript" src="/js/plugins/angularjs/angular.min.js"></script>
	<script type="text/javascript" src="/js/plugins/ui-grid/ui-grid.js"></script>

	<!-- ui-grid export 导出-->
	<script src="/js/plugins/pdfmake/pdfmake.min.js"></script>
	<script src="/js/plugins/pdfmake/vfs_fonts.js"></script>
	<!-- <script src="js/plugins/ui-grid/csv.js"></script> -->

	<script type="text/javascript" src="/js/plugins/ui-bootstrap/ui-bootstrap-tpls.min.js"></script>
</head>
<body>
	<header class="head"></header>
	<div class="content">
		<div class="head-child"></div>
		<!-- <nav data-ng-include="'tpl/sidebar.html'" data-ng-controller="navController" class="col-xs-12 col-sm-3 col-md-3 col-lg-3 index-nav">
			
		</nav> -->
		<nav class="col-xs-12 col-sm-3 col-md-3 col-lg-3 index-nav" ng-app="navApp" ng-controller="navController">
			<ul class="nav-list">
				<li ng-repeat="x in navList">{{x.name}}</li>
			</ul>

		</nav>
		<div class="col-xs-12 col-sm-9 col-md-9 col-lg-9 index-main">

			<div>
				<label>姓名</label>
				<input id="q-name" value="">
				<button class="btn" onclick="search1()">查询</button>
			</div>
			<div id="tableBox" ng-app="myApp" ng-controller="MyCtrl" class="main-table">
				<div  ui-grid="gridOptions" style="width: 100%; height: 500px; text-align: center;" ui-grid-edit ui-grid-pagination ui-grid-selection ui-grid-exporter ui-grid-resize-columns ui-grid-auto-resize>
				</div>

				<div class="form-group">
					<button class="btn btn-primary" ng-click="addNew()">新增</button>
				</div>
				<!--<div style="width:100%; height: 100px">-->
				     <!--<ol>-->
				        <!--<li>名称：{{testRow.name}}</li>-->
				        <!--<li>年龄：{{testRow.age}}</li>-->
				        <!--<li>生日：{{testRow.birthday}}</li>-->
				     <!--</ol>   -->
				<!--</div>        -->
				<div class="editBox" style="width:100%; height: 100px;" ng-show="myVar">
					<form class="form-horizontal" role="form" name="signUpForm" ng-submit="submitForm()">
						<div class="form-group">
							<label for="stuId" class="col-sm-2 control-label">学号</label>
							<div class="col-sm-10">
								<input type="text" class="form-control" id="stuId"
									   placeholder="请输入学号" ng-model="testRow.stuId" ng-disabled="myDis">
							</div>
						</div>
						<div class="form-group">
							<label for="name" class="col-sm-2 control-label">名字</label>
							<div class="col-sm-10">
								<input type="text" class="form-control" id="name"
									   placeholder="请输入名字" ng-model="testRow.name">
							</div>
						</div>
						<div class="form-group ">
							<div class="radio  col-sm-offset-2">
								<label>
									<input type="radio" name="sex" id="sex1" value="男"   ng-model="testRow.sex"> 男
								</label>
							</div>
							<div class="radio  col-sm-offset-2">
								<label>
									<input type="radio" name="sex" id="sex2" value="女"  ng-model="testRow.sex">女
								</label>
							</div>
						</div>
						<div class="form-group">
							<label for="address" class="col-sm-2 control-label">地址</label>
							<div class="col-sm-10">
								<input type="text" class="form-control" id="address"
									   placeholder="请输入地址" ng-model="testRow.address">
							</div>
						</div>
						<div class="form-group">
							<label for="phone" class="col-sm-2 control-label">电话</label>
							<div class="col-sm-10">
								<input type="text" class="form-control" id="phone"
									   placeholder="请输入电话" ng-model="testRow.phone">
							</div>
						</div>

						<div class="form-group">
							<button type="submit" class="btn btn-primary" ng-disabled="signUpForm.$invalid">提交</button>
							<button type="" class="btn btn-primary" click="cancel()">取消</button>
						</div>
					</form>

				</div>

			</div>

		</div>
	</div>

</body>
<script type="text/javascript" src="/js/controller/navController.js"></script>
<script type="text/javascript" src="/js/controller/tableController.js"></script>
</html>